:root {
  --color-primary: #372D3B;
  --color-secondary: #00875F;
  --color-tertiary: #864293;
  --color-white: #ffffff;

  --font-primary: Inter, sans-serif;
  --font-seconf: Roboto, sans-serif;
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Variable.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 4%;
}

body {
  font-family: var(--font-primary);
}