:root {
  --color-primary: #372D3B;
  --color-tertiary: #864293;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.5%;
}

@media (min-width: 2560px) {
  html {
    font-size: 12%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 5%;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 4%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 3%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 2%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 1.5%;
  }
}